# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
# *.a (need library for stm32 server project)

# generated STM32 output files
ServerBeacons_stm32/project/listings/*
ServerBeacons_stm32/project/output/*
ServerBeacons_stm32/project/*.d
ServerBeacons_stm32/project/*.o
ServerBeacons_stm32/project/*.elf
ServerBeacons_stm32/project/*.build_log
ServerBeacons_stm32/project/*.uvopt
ServerBeacons_stm32/project/*.dep
ServerBeacons_stm32/project/*.uvgui.*
ServerBeacons_stm32/project/*.lnp
ServerBeacons_stm32/project/*.map
ServerBeacons_stm32/project/*.htm
ServerBeacons_stm32/project/*.bak

**/user.properties

ardrone_indoor_drone/ARM/
ardrone_indoor_drone/GNU-i386-Linux/
ardrone_indoor_drone/user.properties
**/nbproject
#ignore the temp headers/sources
*.orig
*.*~
*.*~
